{% extends "base_etudiant.html.twig" %}

        {% block content %}
            <!doctype html>
            <html>

            <div class="card-body">
                <h1 class="card-title text-center">Ajout d'une réclamation</h1>
               <center> <div class="well">
                    {{ form(form) }}
                </div></center>
            </div>
            </html>

        {% endblock %}